<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domainer | Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="bg-gray-800">
    <div class="flex w-screen h-screen flex-col items-center justify-between">
        <div class="flex flex-col justify-center items-center w-screen h-5/6">
        <div class="welcome-card p-5 rounded-2xl flex justify-center items-center flex-col">
            <div class="flex flex-col">
                <h1 class="text-gray-100 font-bold text-3xl">Domainer</h1>
                <p class="text-gray-100 font-bold text-lg">Register your subdomain at <%= domain %> for free!</p>
            </div>
            <div class="flex flex-row mt-5">
                <form action="/login">
                    <button type="submit" class="rounded-2xl bg-gray-100 pt-2 pb-2 pl-5 pr-5 mr-5 duration-200 hover:bg-gray-200">Login</button>
                </form>
                <form action="/register">
                    <button type="submit" class="rounded-2xl bg-gray-100 pt-2 pb-2 pl-5 pr-5 duration-200 hover:bg-gray-200">Register</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>