<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domainer | Manage your account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-gray-800">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="flex w-screen h-screen flex-col justify-center items-center overflow-x-hidden">
    <div class="flex flex-col w-1/3 p-3 bg-gray-700 rounded-2xl">
        <div class="flex flex-row justify-between items-center">
            <div class="flex flex-col text-center">
                <h2 class="text-base text-gray-500 ">Your username</h2>
                <h1 class="text-lg font-bold text-gray-100 ">{{= user.username }}</h1>
            </div>
            <div class="flex flex-col text-center">
                <h2 class="text-base text-gray-500 ">Your email</h2>
                <h1 class="text-lg font-bold text-gray-100 ">{{= user.email }}</h1>
            </div>
            <div class="flex flex-col text-center">
                <h2 class="text-base text-gray-500 ">Is admin?</h2>
                {% set isAdmin = "" %}
                {% if user.isAdmin  isAdmin = "Yes" %}
                {% if !user.isAdmin isAdmin = "No" %}
                <h1 class="text-lg font-bold text-gray-100 ">{{= isAdmin }}</h1>
            </div>
        </div>
        <div class="flex flex-row justify-between items-center">
            <div class="flex flex-col text-center">
                <h2 class="text-base text-gray-500 ">Your role</h2>
                <h1 class="text-lg font-bold text-gray-100 ">{{= user.role }}</h1>
            </div>
            <div class="flex flex-col text-center items-center justify-center">
                <h2 class="text-base text-gray-500 ">Options</h2>
                <div class="flex flex-row">
                    <form action="/manage/edit" method="get">
                        <button type="submit" class="rounded-2xl pt-2 pb-2 pl-5 pr-5 mt-2 mr-2 duration-200 border-gray-400 border-2 hover:bg-gray-600"><i class="fa-solid fa-pen-to-square text-gray-400"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row">
        <form action="/dash" method="get">
            <button type="submit" class="rounded-2xl pt-2 pb-2 pl-5 pr-5 mt-2 mr-2 duration-200 border-gray-400 border-2 hover:bg-gray-600"><i class="fa-solid fa-circle-arrow-left text-gray-400"></i></button>
        </form>
    </div>
</div>

</body>
</html>