<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domainer | Setup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="bg-gray-800">
    <div class="flex w-screen h-screen flex-col items-center justify-between">
        <div class="flex flex-col justify-center items-center w-screen h-5/6">
        <div class="welcome-card w-auto p-3 h-auto rounded-2xl flex flex-col justify-center items-center bg-gray-700">
            <div class="flex flex-col text-center">
                <h1 class="text-gray-100 font-bold text-3xl">Domainer Setup</h1>
                <form action="/setup" method="post" class="flex flex-col text-center justify-center items-center">
                    <label for="domain" class="text-gray-100 font-bold text-lg">Domain</label>
                    <input type="text" id="domain" name="domain" class="rounded-2xl text-lg text-center" required>  
                    <label for="sessionsecret" class="text-gray-100 font-bold text-lg">Session Secret (can be anything)</label>
                    <input type="password" id="sessionsecret" name="sessionsecret" class="rounded-2xl text-lg text-center" required>
                    <label for="cftoken" class="text-gray-100 font-bold text-lg">Cloudflare API Token</label>
                    <input type="password" id="cftoken" name="cftoken" class="rounded-2xl text-lg text-center" required>
                    <label for="cfzone" class="text-gray-100 font-bold text-lg">Cloudflare Zone ID</label>
                    <input type="password" id="cfzone" name="cfzone" class="rounded-2xl text-lg text-center" required>
                    <label for="https" class="text-gray-100 font-bold text-lg">HTTPS</label>
                    <input type="checkbox" id="https" name="https" value="true" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded text-center">
                    <button type="submit" class="rounded-2xl bg-gray-100 w-1/2 h-8 mt-2 duration-200 hover:bg-gray-200">Setup</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>