<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="bg-gray-800">
    <div class="flex w-screen h-screen flex-col items-center justify-between">
        <div class="flex flex-col justify-center items-center w-screen h-5/6">
        <div class="welcome-card w-auto p-3 h-auto rounded-2xl flex flex-col justify-center items-center bg-gray-700">
            <div class="flex flex-col text-center">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    </div>
</body>
</html>