{% extends "base.html"%}

{% block head %}
<title>{{ domain }} | Register</title>
{% endblock %}

{% block content %}
<article class="form-box">
    <section class="form-header">
        <h1>Register</h1>
        {% if error.length > 0 %}
        <div class="alert alert-error">
            <p>{{ error }}</p>
        </div>
        {% endif %}
    </section>
    <form action="/auth/register" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="textfield" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="textfield" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="textfield" required>

        <button type="submit" class="btn-primary">Register</button>
    </form>
    <p class="form-text">Already have an account? <a href="/auth/login">Login here</a></p>
</article>
{% endblock %}